.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}

.shop-category-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.shop-category-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #8888;
}
.shop-category-sort p span{
    font-weight: 600;
}
.shop-category-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}

.load-more{
    display: flex;
    justify-content: center;
    margin: 150px auto;
    align-items: center;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: gray;
    font-size: 18px;
    font-weight: 500;
}